* {
  font-family: 'Vollkorn', serif;
}

.post {
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #ededed;
  padding: 3px;
  margin-bottom: 10px;
  
  .timestamp {
    float: right;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #666;
    padding: 3px;
    position: relative;
    top: -4px;
    right: -4px;
    width: 152px;
    text-align: right;
  }
  
  a {
    text-decoration: none;
  }

  blockquote {
    border-left: 1px dashed #666;
    padding-left: 10px;
  }
}
