@(posts: List[FefeBlogPost])

@main() {
  @for(post <- posts) {
    <div class="post">
      <!--div class="timestamp">
        @post.date
      </div-->
      <div class="row">
	      <div class="col-lg-3">
          <a class="permalink" href="@post.permaLink">[l]</a>
	        <div
	          class="header-image"
	          style="background-image: url('@routes.ImageSearchController.findImage(post.longestWord)');"
	        >
	        </div>
	      </div>
	      <div class="col-lg-5">
	        <div class="post-body">
	          @Html(post.body)
	        </div>
	      </div>
      </div>
      <!-- div class="permalink">
        <a href="@post.permaLink">Link</a>
      </div-->
    </div>
  }
}
